.show-container {
  background-image: url("https://previews.123rf.com/images/vicushka/vicushka1510/vicushka151000080/46966427-frische-k%C3%B6stliche-zutaten-f%C3%BCr-gesundes-kochen-oder-salat-herstellung-auf-rustikalen-hintergrund-ansicht-von-.jpg");
  z-index: 0;
  height: 100%;
  flex-direction: column;
  background-color: #59A5D8;
  font-family: josefin sans;
  margin-bottom: -5px;
}

.details {
  text-align: center;
  color: white;
  padding-top: 25%;
  text-shadow: 1px 1px black;
}
