.show-container {
  background-image: url("https://previews.123rf.com/images/vicushka/vicushka1510/vicushka151000080/46966427-frische-k%C3%B6stliche-zutaten-f%C3%BCr-gesundes-kochen-oder-salat-herstellung-auf-rustikalen-hintergrund-ansicht-von-.jpg");
  z-index: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #59A5D8;
  font-family: josefin sans;
  margin-bottom: -5px;
  align-items: center;
}

.details {
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 80%;
  opacity: 0.8;
  margin-top: 20%;
  border: 1px solid #FB9C0F;
  border-radius: 25px;
  padding: 5%;

  .nameAndRating {
    text-align: center;
  }

  .rating {
    padding-bottom: 10%;
  }

}

.details h2 {
  font-size: 48px;
}

.far {
  position: fixed;
  top: 50%;
  left: 2%;
  color: #FB9C0F;
}
