<div class="banner">
  <%= image_tag 'logo.png', class: "logo" %>
  <%= link_to root_path, class: "removeTextDecoration" do %>
    <h1>Bayerisch!</h1>
  <% end %>
  <div class="d-flex flex-column">
    <a class="icons" id="facebook" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a class="icons" id="instagram" href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>