<div class="banner">
  <img class="logo" src="../../assets/images/logo.png" alt="Logo">
  <%= link_to root_path, class: "removeTextDecoration" do %>
    <h1>Platzhalter</h1>
  <% end %>
  <div class="icons d-flex flex-column">
    <a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a class="instagram" href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>