<div class="card">
  <img class="card-img-top" src="https://www.cooknsoul.de/wp-content/uploads/2017/11/Rindergulasch_Tomatensauce.jpg" alt="">
  <div class="card-body">
    <h5 class="card-title"><%= @recipe.name %></h5>
  </div>
</div>