<div class="footer">
      <div class="container-fluid">
        <div class="row footer-row">
          <div class="col-sm footer-column">
            <h5>Kontakt</h5>
            <h5>Platzhalter</h5>
            <h5>Platzhalter</h5>
          </div>
          <div class="col-sm footer-column">
            <h5>Impressum</h5>
            <h5>Platzhalter</h5>
            <h5>Platzhalter</h5>
          </div>
          <div class="col-sm footer-column">
            <h5>Feedback</h5>
            <h5>Platzhalter</h5>
            <h5>Platzhalter</h5>
          </div>
          <div class="col-sm footer-column">
            <h5>Platzhalter</h5>
            <h5>Platzhalter</h5>
            <h5>Platzhalter</h5>
          </div>
        </div>
      </div>
    </div>