<div class="starsContainer">
  <i class="fas fa-star orange"></i>
  <i class="fas fa-star orange"></i>
  <i class="fas fa-star opacity orange"></i>
  <i class="fas fa-star opacity orange"></i>
  <i class="fas fa-star opacity orange"></i>
</div>